<p style="color: green"><%= notice %></p>

<div>
<select id="part">
<% @symptoms.each do |symptom| %>
<option value="<%= symptom['code'] %>">
<%= symptom['name'] %>
</option>
<% end %>
</select>
<select hidden="hidden" id="symptom">
</select>
</div>
</div>
<script>
$(document).ready(function(){
$("#part").change(function(){
var part = $(this).val();
$.ajax({
url: "https://www.moja-diagnoza.si/api/v1/symptoms/bodypart/",
type: "GET",
data: {code: part},
success: function(data){
  var options = '';
  data = data[0];
  data = data['symptoms'];
  for (var i = 0; i < data.length; i++) 
  {
    options += '<option value="' + data[i]['id'] + '">' + data[i]['title'] + '</option>';
  }
  $("#symptom").removeAttr('hidden');
  $("#symptom").html(options);
}
});
});
});
</script>

